<header class="row small-collapse large-uncollapse">
  <div class="small-12 large-6 columns">
    <a href="/">
      <img src="/img/logo.svg" id="logo" class="left" alt="Logo Epicentrum">
      <span id="logotype">Epicentrum</span>
    </a>
    <button id="slideout-toggle" class="right hide-for-large-up">&#9776;</button>
  </div>

  <nav id="top-menu" class="large-6 columns right hide-for-small-only hide-for-medium-only">
    <ul class="large-block-grid-4">
      {% include nav.html %}
    </ul>
  </nav>
</header>