@import "settings";
//@import "../bower_components/foundation/scss/foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

// Components I decided to use
@import "../bower_components/foundation/scss/foundation/components/block-grid";
@import "../bower_components/foundation/scss/foundation/components/grid";
@import "../bower_components/foundation/scss/foundation/components/visibility";

// Styles for my app
$red: #c42525;
$grey: #4d4d4d;

@mixin selection-color($txt, $bg) {
  background: $bg;
  color: $txt;
}

@media #{$small-up} {
  ::selection {
    @include selection-color(#fff, #b0b0b0);
  }

  ::-moz-selection {
    @include selection-color(#fff, #b0b0b0);
  }

  h1::selection {
    @include selection-color(#fff, $red);
  }

  h1::-moz-selection {
    @include selection-color(#fff, $red);
  }

  em::selection {
    @include selection-color(#fff, $red);
  }

  em::-moz-selection {
    @include selection-color(#fff, $red);
  }

  body {
    background: #000; // background for iOS (it's visible when you try to scroll further than content of the page)
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: rem-calc(16);
  }

  header {
    height: rem-calc(50);
    line-height: rem-calc(55);
    overflow: hidden;
    margin-bottom: rem-calc(16) !important; // overwrite margin-bottom: 0 from .row class
    a {
      color: #fff;
    }
  }

  a {
    text-decoration: none;
  }

  section p a {
    color: $red;
    &:hover {
      color: lighten($red, 7%);
    }
  }

  h1,
  #logotype {
    font-family: 'Exo';
    font-weight: 500;
    line-height: 1.2;
  }

  h1 {
    font-size: rem-calc(20);
    + p {
      margin-top: 0;
    }
  }

  #logotype {
    font-size: rem-calc(24);
  }

  em {
    color: $red;
    font-style: normal;
  }

  ol#members {
    list-style-type: decimal-leading-zero;
    margin-top: 0;
    padding-left: rem-calc(31);
  }

  ul#goals {
    margin-top: 0;
    padding-left: rem-calc(19);
    list-style-type: square;
  }

  footer {
    color: $grey;
    a {
      color: $grey;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  main#slideout-panel {
    background: #000 url(../img/bg.jpg) top/cover no-repeat;
    min-height: 100vh; // fix for too short pages (slideout menu)
    padding: 5vw;
  }

  button#slideout-toggle {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: rem-calc(36);
    height: rem-calc(50);
    outline: 0;
    width: rem-calc(50);
  }

  nav#slideout-menu {
    background: #fff;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    a {
      color: #000;
      display: block;
      padding: 5vw;
      &:hover {
        color: #fff;
        background: #000;
      }
    }
  }

  #google-map-canvas {
    height: rem-calc(400);
    margin-bottom: rem-calc(16);
  }

  .slideout-menu {
    left: auto !important; // necessary for right side slideout menu
    width: rem-calc(225) !important; // must equal your slideout padding value
  }

  img#logo {
    height: rem-calc(50);
  }

  %button {
    color: #fff;
    font-size: rem-calc(14);
    font-weight: 700;
    padding: rem-calc(23) rem-calc(45);
    text-align: center;
    text-transform: uppercase;
    transition: background 250ms ease;
    margin-bottom: rem-calc(16);
  }

  .button-filled {
    @extend %button;
    background: $red;
    &:hover {
      background: lighten($red, 7%);
    }
  }

  .button-transparent {
    @extend %button;
    box-shadow: inset 0 0 0 rem-calc(4) #fff;
    &:hover {
      background: #fff;
      color: #000;
    }
  }
}

@media #{$small-only} {
  html {
    height: auto; // reset foundation html { height: 100%; } - it breaks slideout mobile menu (page jumps to the top)
  }

  header {
    text-align: center;
  }

  h1 {
    margin: rem-calc(9) 0 rem-calc(8);
    br {
      display: none;
    }
  }

  .button-filled,
  .button-transparent {
    display: block;
  }

  footer p {
    margin: 0 auto;
    text-align: center;
  }
}

@media #{$medium-up} {
  header {
    height: rem-calc(70);
    line-height: rem-calc(82);
  }

  h1 {
    font-weight: 400;
    font-size: rem-calc(27);
    margin: rem-calc(24) 0 rem-calc(10);
  }

  main#slideout-panel {
    padding-bottom: 10vw;
  }

  #logotype {
    font-size: rem-calc(36);
  }

  img#logo {
    height: rem-calc(70);
    margin-right: rem-calc(30);
  }

  p#welcome-text {
    width: rem-calc(570);
  }

  .button-filled,
  .button-transparent {
    display: inline-block;
    font-size: rem-calc(16);
    margin-right: rem-calc(16);
  }

  button#slideout-toggle {
    height: rem-calc(70);
    width: rem-calc(70);
  }

  footer p {
    margin-bottom: 0;
    position: absolute;
    bottom: 5vw;
  }
}

@media #{$large-up} {
  h1 {
    font-size: rem-calc(32);
  }

  h1#landing-page {
    margin-top: rem-calc(200);
  }

  main#slideout-panel {
    padding: rem-calc(50);
    padding-bottom: rem-calc(90);
  }

  nav#top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      text-align: center;
      a {
        color: $grey;
        font-size: rem-calc(18);
        font-weight: 700;
        text-transform: uppercase;
        transition: color 150ms ease;
        &:hover {
          color: $red;
        }
      }
    }
  }

  footer p {
    bottom: rem-calc(50);
    margin-left: rem-calc(15);
  }
}