@import "settings";
//@import "../bower_components/foundation/scss/foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

// Components I decided to use
@import "../bower_components/foundation/scss/foundation/components/grid";

// Styles for my app
@media #{$small-up} {
  $red: #c42525;

  html {
    height: auto; // reset foundation html { height: 100%; } - it breaks slideout mobile menu (page jumps to the top)
  }

  body {
    background: #000; // background for iOS (it's visible when you try to scroll further than content of the page)
    color: #fff;
    font-family: 'Open Sans', sans-serif;
  }

  #panel {
    background: #000 url(../img/bg.png) top/contain no-repeat;
    padding: 5vw; // ### adjust later
    min-height: 100vh; // fix for too short pages using slideout menu
  }

  a {
    text-decoration: none;
  }

  h1 {
    font-family: 'Exo';
    font-size: rem-calc(36);
    font-weight: 400;
    line-height: 1.2;
  }

  em {
    color: $red;
    font-style: normal;
  }

  footer {
    color: #333;
    & a {
      color: #333;
      transition: color 250ms;
      &:hover {
        color: $red;
      }
    }
  }

  #logo {
    width: rem-calc(70);
  }

  #menu {
    background: #fff;
    color: $red;
  }

  %button {
    color: #fff;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 700;
    padding: rem-calc(23) rem-calc(45);
    text-align: center;
    text-transform: uppercase;
    transition: 250ms; // ## add some timing-function (easing)?
  }

  .button-filled {
    @extend %button;
    background: $red;
    &:hover {
      background: lighten($red, 7%);
    }
  }

  .button-transparent {
    @extend %button;
    box-shadow: inset 0 0 0 4px #fff;
    &:hover {
      background: #fff;
      color: #000;
    }
  }
}

@media #{$small-only} {
  .button-filled,
  .button-transparent {
    display: block;
  }
}